body {
    background-color: #ffffff;   
}

.navbar {
    background: #454545;
    margin-bottom: 50px;
}
.nav > li > a {  
    margin: 0 10px;    
}
    .nav > li > a:hover {
        color: #454545;
    }
.navbar-brand {
    background-color: black;
}
.navbar-brand .title {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
    padding-bottom: 5px;    
}
.navbar .signout-link {
    margin-left: 30px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 2px;
    background: none;    
    line-height: 1;
    border: 2px solid #fff;
}
.navbar .signout-link:hover{        
}

.navbar a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar .nav > li.sep {
    border-left: 1px solid rgba(255,255,255,0.2);
    width: 1px;
    margin: 14px 20px;
    height: 16px;
}

.navbar-default {
    max-height: 40px;
    background-color: #3498db !important;
    border-color: #2980b9;
    color: #ecf0f1;
}

.navbar-right {
    float: right;
}

.navbar-default .navbar-brand {
    color: #3498db !important;
    font-size: 32px;
}

.navbar-default .navbar-nav > li > a {
    color: #ecf0f1 !important;
}

.col-xs-6 {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
}

    .col-xs-6 .search-input {
        width: 100%;
    }

        .col-xs-6 .search-input input {
            max-width: 100%;
        }


.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.btn-group-wrap {
    text-align: center;
    margin-top: 30px;
}

div.btn-group {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.btn-primary {
    color: #ecf0f1 !important;
    background-color: #2980b9 !important;
    border-color: #2980b9 !important;
}

/* Device List */
.list-container {
    max-height: 50vh;
    display: block;
    overflow-y: scroll;
}

label.device-title {
    color: #666694;
    font-size: 25px;
    padding: 0;
}

.list-group-item > .btn-action {
  display:inline-block;
}
.list-group-item div[class^='col-'], .list-group-item div[class^='panel-'] {
    padding-right: 0;
    padding-left: 0;    
}
.list-group-item hr {
    margin: 5px 0 !important;
}
.list-group-item div[class='panel']{
    margin-bottom: 0 !important;
}


label.device-error, label.device-description, label.device-price, label.device-note {
    font-size: 15px;
}

label.device-error {
    color: red;
}

label.device-price {
    color: #666694;
}

label.device-description {
    color: #666694;
}

label.device-note {
    color: #666694;
}

.panel.transaction{
    margin: 10px auto;
}

