@model htcustomer.service.ViewModel.Contact.AddressBookViewModel

<div class="row address-book">
    @if (Model.customerList.Count() > 0)
    {
        foreach (var customer in @Model.customerList)
        {
            @Html.Partial("_CustomerRow", customer)
        }
    }
    else
    {
        <div class="col-md-12">
            <h5 class="alert alert-warning"><i class="fa fa-warning"></i>&nbsp; Not found any customer</h5>
        </div>
    }

</div>