@model htcustomer.service.ViewModel.CustomerViewModel

<div class="card customer-contact">
    <div class="card-body">
        <h5 class="card-title">@Model.Name ( @Model.Description )</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Phone</h6>
    </div>
</div>