@model htcustomer.service.ViewModel.CustomerViewModel

<div class="card customer-contact col-md-12" style="width: 100%; margin-bottom: 20px;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name ( @Model.Description )</h5>
        <div class="row">
            <div class="col-md-6">
                <h6 class="card-subtitle mb-2 text-muted">@Model.Phone</h6>
            </div>
            <div class="col-md-6">
                <a href=@Url.Action("Index","Contact", new { customerID = Model.CustomerID})>
                    Details &nbsp;&nbsp;<i class='fa fa - angle - double - right'></i>
                </a>                
            </div>
        </div>                
    </div>
    
</div>