@model IEnumerable<htcustomer.service.ViewModel.Transaction.TransactionViewModel>

<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#delivered-panel" aria-expanded="false">
        History - Delivered &nbsp;<span class="badge">@Model.Count()</span>
    </div>
    <div class="panel-body" id="delivered-panel">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Device</th>
                    <th>Error</th>
                    <th>Receive</th>
                    <th>Deliver</th>
                    <th>Price</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in Model)
                {
                    @Html.Partial("_DeliveredTransactionRow", transaction);
                }
            </tbody>
        </table>
    </div>
</div>

