@{
    ViewBag.Title = "Contact";
}
<style>
    .customer-contact {
        width: 18rem;
        padding-left: 15px;
        border-bottom: 1px solid #ddd;
    }
</style>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Contact</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="email" class="form-control" id="name" placeholder="Customer Name">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="password" class="form-control" id="phone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="password" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="password" class="form-control" id="address" placeholder="Address">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>
<div class="col-md-4">
    <div class="row">        
        <form class="navbar-form" role="search" id="customer-search-form">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="searchCustomer">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" data-url="/htcustomer/Contact/GetAddressBook/">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div id="customer-search-result">
        @Html.Action("GetAddressBook", "Contact")
    </div>
</div>
<div class="col-md-8">
    <div class="row">
        <div class="col-md-6" style="border-bottom:1px solid #ddd; margin-bottom: 20px;">
            <i class="fa fa-2x fa-address-book"></i>&nbsp;&nbsp;<h2 style="display:inline-block">Em Ngoc</h2><br />
            <i class="fa fa-2x fa-phone"></i>&nbsp;&nbsp;&nbsp;<h4 style="color:#737070; display:inline-block">01218351464</h4>
        </div>
        <button class="btn btn-info" data-toggle="modal" data-target="#myModal" style="float:right;">
            <i class="fa fa-plus"></i> &nbsp New Contact
        </button>
    </div>
    <div class="row">
        <table class="table table-responsive table-striped" cellspacing="10">
            <thead>
                <tr>
                    <th>
                        Status
                    </th>
                    <th>Received Date</th>
                    <th>Device</th>
                    <th>Error</th>
                </tr>
            </thead>
            <tbody>
                <tr style="border-left: 5px solid #ec971f">
                    <td>
                        <p style="color: #ec971f; font-weight:bold">Not Fix</p>
                    </td>
                    <td>
                        12/2/2018
                    </td>
                    <td>
                        <p>Laptop </p>
                        <p>Asus, mau den</p>
                    </td>
                    <td>
                        Hu o dia
                        Man hinh bi hu.
                    </td>
                </tr>
                <tr style="border-left: 5px solid #449d44">
                    <td>
                        <p style="color: #449d44; font-weight:bold">Fixed</p>
                        <h4><i class="fa fa-send-o"></i></h4>
                    </td>
                    <td>
                        12/2/2018
                    </td>
                    <td>
                        <p>Laptop </p>
                        <p>Asus, mau den</p>
                    </td>
                    <td>
                        Hu o dia
                        Man hinh bi hu.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/MyScript/contact/contact.js"></script>
}