<form>
    <div class="expandable" data-count="1">
        <div class="form-group">            
            <input class="form-control" name="name[]" type="text" id="name[]" placeholder="Enter Description.">
        </div>
        <div class="form-group form-inline">           
            <input class="form-control" type="number" placeholder="price" />
        </div>
    </div>
    <button class="btn add-more" id="add-more" type="button">Add Item</button>

    <hr />
    <div class="form-group">
        <button type="button" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="popover">Close</button>
    </div>
</form>
