<div class="col-md-6">
    <form id="device-filter-form">
        <div class="form-group">
            <label for="startDate">Month / Year </label>
            <input name="dateFilter"id="dateFilter" class="form-control date-picker"
                   data-status-id = "@TempData["CurrentStatus"]"
                   data-url= "@Url.Action("FilterTransaction","Device")"/>
        </div>
        <div class="form-group">
            <label for="selectDevice">Devices</label>
            <select class="form-control" id="selectDevice" data-url="@Url.Action("GetListCategory","Category")">                
            </select>
        </div>
    </form>
</div>
