<div class="col-md-6">
    <div class="btn-group" style="width:auto;">
        @Html.ActionLink("Not Fix", "Index", "Device", new { statusId = 1 }, new { @class = "btn btn-lg btn-primary" })
        @Html.ActionLink("Fixed", "Index", "Device", new { statusId = 2 }, new { @class = "btn btn-lg btn-primary" })
        @Html.ActionLink("Cannot Fix", "Index", "Device", new { statusId = 3 }, new { @class = "btn btn-lg btn-primary" })
    </div>
</div>