@model IEnumerable<htcustomer.service.ViewModel.Transaction.PriceDetailViewModel>

<ul>
    @foreach(var itemPrice in Model)
    {
        <li><b>@itemPrice.Price</b> - @itemPrice.Description </li>
    }
</ul>
